script.
    // OthersView.pug
    import { mainWord } from './stores.js'

    let wordStr = ""

    const getWord = () => $mainWord

    const generateLinks = () => {

    }

    const updateWord = () => {

    }

    let otherCategories = [
        {
            id: "meaning_of",
            label: "Meaning Of",
            links: [
                {
                    source: "Merriam-Webster",
                    url: `https://www.merriam-webster.com/dictionary/__WORD__`
                },

                {
                    source: "Dictionary.com",
                    url: `https://www.dictionary.com/browse/__WORD__`
                },

                {
                    source: "Wikipedia",
                    url: `https://en.wikipedia.org/wiki/__WORD__`
                }
            ]
        },

        {
            id: "phrases",
            label: "Phrases",
            links: [
                {
                    source: "The FREE Dictionary",
                    url: `https://idioms.thefreedictionary.com/__WORD__`
                },

                {
                    source: "Phrases.org.uk",
                    url: "https://www.phrases.org.uk/phrase-thesaurus/related/__WORD__.html"
                }
            ]
        },

        {
            id: "synonyms",
            label: "Synonymns",
            links: [
                {
                    source: "Thesaurus.com",
                    url: "https://www.thesaurus.com/browse/__WORD__"
                }
            ]
        },

        {
            id: "in_the_news",
            label: "In the News",
            links: [
                {
                    source: "Google News",
                    url: `https://news.google.com/search?q=__WORD__&hl=en-US&gl=US`
                },

                {
                    source: "Bing News",
                    url: `https://www.bing.com/news/search?q=__WORD__`
                },

                {
                    source: "Yahoo! News",
                    url: `https://news.search.yahoo.com/search?p=__WORD__`
                }
            ]
        }
    ]

    PubSub.subscribe("mainWordChange", (wordObj) => {
        wordStr = wordObj.mainWord || ""

        for(let catCnt=0; catCnt<otherCategories.length; catCnt++) {
            let categ = otherCategories[catCnt]

            for(let lnkCnt=0; lnkCnt<categ.links.length; lnkCnt++) {
                let link = categ.links[lnkCnt] 
                link.url = link.url.replace("__WORD__", wordStr)
            }
        }

        otherCategories = otherCategories
    })

section.others-view
    form
        .row
            .col-lg-10.col-md-8
                input(type="text" 
                  class="form-control input-lg" 
                  placeholder="Type up to 3 words separated by commas"
                  "on:keyup"="{updateWord}" 
                  value="{$mainWord}")
            .col-md-2
                button(class="btn btn-primary btn-lg btn-block" "on:click|preventDefault"="{ generateLinks }") Do it
    
    hr

    {#each otherCategories as category}  
      div {category.label}
            ul 
                {#each category.links as link}
                  li
                    span {link.source}: 
                    a(href="{link.url}", target="_blank") {wordStr} 