script.
    // WordSearch.pug

section
    form
        .row
            .col-lg-10.col-md-8
                input(type="text" class="form-control input-lg" placeholder="Type up to 3 words separated by space to search for")
            .col-md-2
                button(class="btn btn-primary btn-lg btn-block") Search
    
    hr

    fieldset 
        label(for="synonymn") Synonyms
        .jumbotron
            table.table 
                tr 
                    td blah
                    td asd asdjh ajsh asdjh jashd asd asdjh ajsh asdjh jashd asd asdjh ajsh asdjh jashd asd asdjh ajsh asdjh jashd   asd asdjh ajsh asdjh jashd   asd asdjh ajsh asdjh jashd   asd asdjh ajsh asdjh jashd   asd asdjh ajsh asdjh jashd   asd asdjh ajsh asdjh jashd                        
    
    fieldset
        label(for="kindof") Kind of ...
        .jumbotron bbbb

    fieldset
        label(for="anthonym") Anthonyms
        .jumbotron bbbb

    fieldset
        label(for="trigger") Related
        .jumbotron bbbb